<!--When outputing some variable use <%= %>-->
<!--When outputing some normal js and not any variable use <% %>-->
<!--When outputing some include statement <%- %>-->



<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>

</head>
<body>

    <!--dynamic content shown on front page-->

    <!--<<p> This is a <%= title %> page</p> -->



      <%- include('./partials/nav.ejs')%>
     
    <div class="blogs content">
        <h2>All blogs</h2>

        <%if(blogs.length >0) { %>
            <% blogs.forEach(blog=>{  %>
                <a href="/blogs/<%= blog._id%>" class="single">
                    <h3 class="title"><%= blog.title%></h3>
                    <p class="snippet"><%= blog.snippet%></p>
                </a>
            <% })%>

        <% } else {%>
            <p>There are no blogs to display </p>
        <% } %>


     </div>
     <%- include('./partials/footer.ejs')%>

</body>
</html>